{% load static %}
{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %} {% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/x-icon.png' %}" rel="icon">
    <link href="{% static 'assets/img/x-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- Template Extra CSS File -->
    {% block css %} {% endblock %}

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <!-- Navbar left side Logo -->
        <div class="logo">
            <h1><a href="/">Xpto Store</a></h1>
        </div>

        <!-- Navbar Right Side -->
        <nav id="navbar" class="navbar">
            <ul>
                <!-- <li><a class="nav-link scrollto " href="#recommended">Recomendações</a></li> -->
                {% if user.is_authenticated %}
                    <li class="dropdown"><a href="#"><span>{{ request.user }}</span> <i class="bi bi-chevron-down"></i></a>
                      <ul>
                        {% if request.user|has_group:"Comprador" %}
                            <li><a class="nav-link" href="#">Registo de Compras</a></li>
                        {% endif %}
                        {% if request.user|has_group:"Comercial Administrador" %}
                            <li><a class="nav-link {% block produtosactive %} {% endblock produtosactive %}" href="/produtos">Produtos</a></li>
                        {% endif %}
                        {% if request.user|has_group:"Comercial Supervisor" %}
                            <li><a class="nav-link {% block comerciaisactive %} {% endblock comerciaisactive %}" href="/comerciais">Comerciais</a></li>
                        {% endif %}
                        {% if request.user|has_group:"admin" %}
                            <li><a class="nav-link {% block adminpageactive %} {% endblock adminpageactive %}" href="/administrarcomerciais">Administrar Comerciais</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                      </ul>
                    </li>
                    {% else %}
                    <li><a class="nav-link" href="/register">Registo</a></li>
                    <li><a class="getstarted" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                {% if request.user|has_group:"Comprador" %}
                  <li><a class="getstarted" href="/cart"><img src="{% static 'assets/img/cart-icon.png' %}" style="max-width: 23px;" alt=""></a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- End Navbar -->

    </div>
</header><!-- End Header -->\

<!-- ======= Body ======= -->
{% block body %} {% endblock %}


<!--End #main -->

<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-lg-14 text-lg-left text-center">
          <br>
          {% block footer %} {% endblock %}
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
{% block js %} {% endblock %}
</body>

</html>