{% extends 'basic.html' %}
{% block title %} Carrinho {% endblock %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block body %}



<section id="hero" class="d-flex">
    <div class="container">
        <br>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
        <form action="/cart" method="post"> {% csrf_token %}
            <input type="hidden" name="action" value="finalizar_compra">
            <button type="submit" style="    float: right;
    background-color: #3598db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 23px;">Finalizar Compra</button>
        </form>
        <h1 class="display">Carrinho</h1>
        <hr class="my-2">
        <table class="table table-striped table-responsive-md btn-table">

                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preco</th>
                        <th>Quantidade</th>
                        <th>Desconto</th>
                        <th>Preço Final</th>
                        <th>Ações</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in cart %}
                        <tr>
                            <th scope="row">{{ item.produto.nome }}</th>
                            <td>{{ item.cart.preco_base }}€</td>
                            <td>
                                <form action="/cart" method="post"> {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ item.cart.id }}">
                                    <input type="hidden" name="action" value="alterar_quantidade">
                                    <input type="number" name="quantidade" value="{{ item.cart.quantidade }}">
                                    <input type="submit" value="guardar">
                                </form>
                            </td>
                            <td>{{ item.cart.promotion }}%</td>
                            <td>{{ item.cart.preco_final }}</td>
                            <td>
                                {#<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#EditProd">Launch demo modal</button>#}

                                <form method="post"> {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ item.cart.id }}">
                                    <input type="hidden" name="action" value="delete">
                                    <button type="submit" style="border: none; background-color: transparent;">
                                        <svg style="color: red" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-trash cursor-pointer" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                            <path fill-rule="evenodd"
                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                        </svg>
                                    </button>

                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
    </div>
</section>
{% endblock %}
