{% extends 'basic.html' %}
{% block title %} XPTO Store {% endblock %}
{% block body %}
    {% load static %}
    {% load auth_extras %}
    {% if not user.is_authenticated or request.user|has_group:"Comprador" %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Welcome to Xpto</h1>
            {% if not user.is_authenticated %}
              <h2 data-aos="fade-up" data-aos-delay="400">Join the thousand registered users as a new client or become one of our sellers!</h2>
              <div data-aos="fade-up" data-aos-delay="800">
                <a href="/registo" class="btn-get-started">Registo</a>
              </div>
            {% endif %}
        </div>
        <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="{% static 'assets/img/cart-img.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>
    </section><!-- End Hero -->
    {% endif %}

    <!-- ======= Product Section ======= -->
    <section id="shop" class="portfolio">
        <div class="container">

            <div class="section-title">
                <h2>Produtos</h2>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container">
                {% for prod in page_obj %}

                <div class="col-lg-4 col-md-6 portfolio-item" >
                    <div class="portfolio-wrap">
                        <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>{{ prod.nome }}</h4>
                            <p>{{ prod.descricao }}</p>
                            <p>App</p>
                            <div class="portfolio-links">
                                <a href="{% static 'assets/img/portfolio/portfolio-1.jpg' %}"
                                   data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                                        class="bx bx-plus"></i></a>
                                <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        <div class="container">
            <div class="row">
                <div class="pagination" style="display: flex; justify-content: center">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        </div>
    </section><!-- End Portfolio Section -->
{% endblock %}

