{% extends 'basic.html' %}
{% block title %} Register {% endblock %}

{% block body %}
<section id="hero" class="d-flex">
    <div class="container my-4" style="border: solid; border-color: #3498db;">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

        <div class="container" style="text-align: center;">
            <div class="row my-4"><h1>Registo</h1></div>
            <form action="{% url 'register' %}" method="post"> {% csrf_token %}
                <div class="form-group" style="padding: 2px;">
                <input type="text" name="username" placeholder="Username" required/>
                </div>
                <div class="form-group" style="padding: 2px;">
                <input type="email" name="email" placeholder="E-mail" required/>
                </div>
                <div class="form-group" style="padding: 2px;">
                <input type="password" name="password" placeholder="Password" required/>
                </div>
                <div class="form-group" style="padding: 2px;">
                <select name="group" required>
                    <option value="" selected="true" disabled="disabled">Tipo de Utilizador</option>
                    {% for group in groups %}
                        {% if group.name != "admin" %}
                            <option value="{{ group.name }}">{{ group.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                </div>
                <div class="form-group" style="padding: 2px;">
                <input type="submit" name="signup_submit" value="Register"/>
                </div>
            </form>
            </div>
        </div>
    </section>

{% endblock %}